<%= form_with model: [ @teacher, @teacher.students.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
   
  </p>
  <p>
    <%= form.label :subject %><br>
    <%= form.text_area :subject %>
    
  </p>

  
  <p>
    <%= form.submit %>
  </p>
<% end %>
