<h1><%= @teacher.name %></h1>

<p><%= @teacher.subject %></p>

<%= link_to "Edit", edit_teacher_path(@teacher), :class => "btn btn-sm btn-info" %>

<%= link_to "Back", :back, :class => "btn btn-sm btn-warning" %>

<%= link_to "Destroy", teacher_path(@teacher), :class => "btn btn-sm btn-danger", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>



<h2>Students</h2>
<%= render @teacher.students %>


<h2>Add a student:</h2>
<%= render 'students/form' %> 
